body {
    padding-top: 50px;
    padding-bottom: 20px;
   
    color: #FFA313;
    /*color: #1F6ECD;*/
    background: #2B2825;
    font-family: Megrim;
}

.navbar-inverse {
    background: #1F6ECD;
   
}

.btn {
    color: #1F6ECD;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    color: #AA3939;
    background: white;
}

#crud {
    min-width: 203px;
}
.slider {
    width: 200px;
}

#slideFilter {
    float: right;
}